<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
			package="com.withiter.quhao" android:versionCode="1" android:versionName="1.0">

	<uses-sdk android:minSdkVersion="5"/>

	<permission
        android:name="com.withiter.quhao.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
  
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.withiter.quhao.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	
	<!-- permissions -->
	<!-- 使用Internet许可 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- 网络定位技术许可 -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!-- 检测网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.LOCATION" />
	<!-- GPS定位技术许可 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- 读取手机状态许可 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- 在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- 写入内存卡许可 -->
	<!-- 可选的权限 -->
	<!-- 启用错误分析功能，须添加该权限 -->
	<uses-permission android:name="android.permission.READ_LOGS" />
	<!-- 发送短信权限 -->
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<!-- 相机权限 -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<!-- 检测网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 检测WIFI状态 -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<!-- 添加拨出电话的权限 -->
	<uses-permission android:name="android.permission.CALL_PHONE" />
	
	<!-- Share SDK 使用 begin-->
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<!-- Share SDK 使用 end-->
	
	<supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:resizeable="true" android:anyDensity="true" />
	<application android:allowBackup="true" 
	    android:icon="@drawable/ic_launcher" 
	    android:label="@string/app_name" 
	    android:theme="@style/Theme.Notitle" 
	    android:name="com.withiter.quhao.QHClientApplication">
		<!-- android:name=".QHClientApplication" -->

		<!-- TODO: WARNING 部署时请修改test的值为false -->
		<meta-data android:name="test" android:value="false" />
		<!-- TODO: WARNING 部署时请修改test的值为false -->
		
		<meta-data android:name="com.amap.api.v2.apikey" android:value="60d9c5881dbe8dddd3de33aaacac0cbe" />
		<!-- 您从高德网站获取的APP KEY 
		<meta-data android:name="com.amap.api.v2.apikey" android:value="9e01e3340b4c35140eaa1a334c2a20c3" />
		
		<meta-data android:name="com.amap.api.v2.apikey" android:value="5eddb655591aaf39b0ccbb8106e8d95d" />-->
		<!-- startup page -->
		<activity android:screenOrientation="portrait" android:name="com.withiter.quhao.activity.LaunchActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- startup page -->
		
		<activity
            android:name="com.withiter.quhao.activity.GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        
		<!-- MainTabActivity page -->
		<activity android:name="com.withiter.quhao.activity.MainTabActivity" android:launchMode="singleTask" android:label="@string/app_name" android:screenOrientation="portrait">
			
		</activity>
		<!-- MainTabActivity page -->
		
		<!-- my attention list page -->
		<activity android:name="com.withiter.quhao.activity.MyAttentionListActivity" android:label="@string/app_name" android:screenOrientation="portrait">
			
		</activity>
		<!-- my attention list page -->
		
		<!-- nearby page -->
		<activity android:name="com.withiter.quhao.activity.NearbyActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- nearby page -->


		<!-- personal page -->
		<activity android:name="com.withiter.quhao.activity.PersonCenterActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- personal page -->

		<!-- personal detail page -->
		<activity android:name="com.withiter.quhao.activity.PersonDetailActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- personal detail page -->
		
		<!-- update nickname page -->
		<activity android:name="com.withiter.quhao.activity.UpdateNicknameActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- update nickname page -->
		
		<!-- Jifen Instruction page -->
		<activity android:name="com.withiter.quhao.activity.JifenInstructionActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- Jifen Instruction page -->
		
		<!-- update password page -->
		<activity android:name="com.withiter.quhao.activity.UpdatePasswordActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- update password page -->

		<!-- more page -->
		<activity android:name="com.withiter.quhao.activity.MoreActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- more page -->

		<!-- ShareListActivity page -->
		<activity android:name="com.withiter.quhao.activity.ShareListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- ShareListActivity page -->

		<!-- ImagePagerActivity page -->
		<activity android:name="com.withiter.quhao.activity.ImagePagerActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:screenOrientation="portrait"  />
		<!-- ImagePagerActivity page -->
		
		<!-- CreateShareActivity page -->
		<activity android:name="com.withiter.quhao.activity.CreateShareActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- CreateShareActivity page -->

		<!-- SelectPicActivity page -->
		<activity android:name="com.withiter.quhao.activity.SelectPicActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@style/DialogStyleBottom" />
		<!-- SelectPicActivity page -->
		
		<!-- merchant list page -->
		<activity android:name="com.withiter.quhao.activity.MerchantListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant list page -->
		
		<!-- merchant list page -->
		<activity android:name="com.withiter.quhao.activity.NoQueueMerchantListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant list page -->


		<!-- merchant details page -->
		<activity android:name="com.withiter.quhao.activity.MerchantDetailActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant details page -->

		<!-- merchant description page -->
		<activity android:name="com.withiter.quhao.activity.MerchantDescActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant description page -->
		
		<!-- youhui list page -->
		<activity android:name="com.withiter.quhao.activity.YouhuiListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- youhui list page -->
		
		<!-- search page -->
		<activity android:name="com.withiter.quhao.activity.MerchantsSearchActivity" android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- search page -->

		<!-- get number page -->
		<activity android:name="com.withiter.quhao.activity.GetNumberActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- get number page -->
		
		<!-- get number page -->
		<activity android:name="com.withiter.quhao.activity.MyNumberActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- get number page -->

		<!-- login page -->
		<activity android:name="com.withiter.quhao.activity.LoginActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"/>
		<!-- login page -->


		<!-- register page -->
		<activity android:name="com.withiter.quhao.activity.RegisterActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- register page -->
		
		<!-- user agreement page -->
		<activity android:name="com.withiter.quhao.activity.UserAgreementActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- user agreement page -->

		<!-- merchant location map page -->
		<activity android:name="com.withiter.quhao.activity.MerchantLBSActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant location map page -->
		
		<!-- merchant location route map page -->
		<activity android:name="com.withiter.quhao.activity.MerchantRouteActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant location route map page -->

		<!-- comments page -->
		<activity android:name="com.withiter.quhao.activity.CommentsMerchantActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- comments page -->

		<!-- comments page -->
		<activity android:name="com.withiter.quhao.activity.CommentsAccountActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- comments page -->

		<!-- settings page -->
		<activity android:name="com.withiter.quhao.activity.SettingsActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- settings page -->

		<!-- opinion page -->
		<activity android:name="com.withiter.quhao.activity.OpinionActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- opinion page -->

		<!-- about us page -->
		<activity android:name="com.withiter.quhao.activity.AboutUsActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- about us page -->

		<!-- help page -->
		<activity android:name="com.withiter.quhao.activity.HelpActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- help page -->

		<!-- share page -->
		<activity android:name="com.withiter.quhao.activity.ShareDialogActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@style/Theme.dialog" />
		<!-- share page -->

		<!-- share sina page -->
		<activity android:name="com.withiter.quhao.activity.SinaInfoActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- share sina page -->

		<!-- current/history paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- current/history paidui list page -->
		
		<!-- current paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoCurrentStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- current paidui list page -->
		
		<!-- history paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoHistoryStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- history paidui list page -->

		<!-- credit list page -->
		<activity android:name="com.withiter.quhao.activity.CreditCostListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- credit list page -->

		<!-- around merchant list page -->
		<activity android:name="com.withiter.quhao.activity.ForgetPasswordActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- around merchant list page -->

		<!-- create comment page -->
		<activity android:name="com.withiter.quhao.activity.CreateCommentActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- create comment page -->
		
		<!-- city select page -->
		<activity android:name="com.withiter.quhao.activity.CitySelectActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- city select page -->
		
		<!-- city search page -->
		<activity android:name="com.withiter.quhao.activity.CitySearchActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- city search page -->
		
		<!-- merchant chat room page -->
		<activity android:name="com.withiter.quhao.activity.MerchantChatRoomsActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant chat room page -->
		
		<!-- merchant chat page -->
		<activity android:name="com.withiter.quhao.activity.MerchantChatActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait"  />
		<!-- merchant chat page -->
		
		<!-- Share SDK activity  -->
		<activity android:name="cn.sharesdk.framework.ShareSDKUIShell" 
		    android:theme="@android:style/Theme.Translucent.NoTitleBar" 
		    android:configChanges="keyboardHidden|orientation|screenSize" 
		    android:screenOrientation="portrait" 
		    android:windowSoftInputMode="stateHidden|adjustResize" />
		
		<activity android:name="com.withiter.quhao.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:screenOrientation="portrait" />
		<!-- 
		<activity android:name=".yxapi.YXEntryActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:screenOrientation="portrait" />
		Share SDK activity  -->
		
		
		<!-- JPush -->
		<!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.withiter.quhao" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.withiter.quhao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
   
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        
        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.withiter.quhao.activity.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <category android:name="com.withiter.quhao" />
            </intent-filter>
        </receiver>
        
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="3f817561ac185454655e6582" /> <!--  </>值来自开发者平台取得的AppKey-->
        
		<!-- JPush -->
		
	</application>

</manifest>