<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
			package="com.withiter.quhao" android:versionCode="1" android:versionName="1.0">

	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="17"/>

	<!-- permissions -->
	<!-- 使用Internet许可 -->
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- 网络定位技术许可 -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!-- 检测网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-permission android:name="android.permission.LOCATION" />
	<!-- GPS定位技术许可 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<!-- 读取手机状态许可 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- 在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<!-- 写入内存卡许可 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!-- 可选的权限 -->
	<!-- 启用错误分析功能，须添加该权限 -->
	<uses-permission android:name="android.permission.READ_LOGS" />
	<!-- 发送短信权限 -->
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<!-- 相机权限 -->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<!-- 检测网络状态 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<!-- 检测WIFI状态 -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<!-- 添加拨出电话的权限 -->
	<uses-permission android:name="android.permission.CALL_PHONE" />

	<supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:resizeable="true" android:anyDensity="true" />
	<application android:allowBackup="true" android:icon="@drawable/application_icon" android:label="@style/AppTheme" android:theme="@style/AppTheme" android:name="com.withiter.quhao.QHClientApplication">
		<!-- android:name=".QHClientApplication" -->

		<!-- TODO: WARNING 部署时请修改test的值为false -->
		<meta-data android:name="test" android:value="true" />
		<!-- TODO: WARNING 部署时请修改test的值为false -->

		<!-- 您从高德网站获取的APP KEY -->
		<meta-data android:name="com.amap.api.v2.apikey" android:value="9e01e3340b4c35140eaa1a334c2a20c3" />
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="google" />

		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="24" />
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<!-- 是否获取基站位置信息 -->
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />


		<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
		</service>
		<!-- startup page -->
		<activity android:name="com.withiter.quhao.activity.LaunchActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!-- category page -->


		<!-- category page -->
		<activity android:name="com.withiter.quhao.activity.MainActivity" android:label="@string/app_name">
			
		</activity>
		<!-- category page -->


		<!-- nearby page -->
		<activity android:name="com.withiter.quhao.activity.NearbyActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- nearby page -->


		<!-- personal page -->
		<activity android:name="com.withiter.quhao.activity.PersonCenterActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- personal page -->


		<!-- more page -->
		<activity android:name="com.withiter.quhao.activity.MoreActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- more page -->


		<!-- merchant list page -->
		<activity android:name="com.withiter.quhao.activity.MerchantListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- merchant list page -->


		<!-- merchant details page -->
		<activity android:name="com.withiter.quhao.activity.MerchantDetailActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- merchant details page -->


		<!-- search page -->
		<!-- TODO remove search page -->
		<activity android:name="com.withiter.quhao.activity.MerchantsSearchActivity" android:label="@string/app_name" android:configChanges="keyboardHidden|orientation" android:launchMode="singleTop"
			android:screenOrientation="portrait" />
		<!-- search page -->


		<!-- get number page -->
		<activity android:name="com.withiter.quhao.activity.GetNumberActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- get number page -->


		<!-- login page -->
		<activity android:name="com.withiter.quhao.activity.LoginActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@style/Theme.CustomDialog" />
		<!-- login page -->


		<!-- sign up page -->
		<activity android:name="com.withiter.quhao.activity.RegisterActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@style/Theme.CustomDialog" />
		<!-- sign up page -->

		<!-- get number page -->
		<activity android:name="com.withiter.quhao.activity.MerchantLBSActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- get number page -->

		<!-- comments page -->
		<activity android:name="com.withiter.quhao.activity.CommentsMerchantActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- comments page -->

		<!-- comments page -->
		<activity android:name="com.withiter.quhao.activity.CommentsAccountActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- comments page -->

		<!-- settings page -->
		<activity android:name="com.withiter.quhao.activity.SettingsActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- settings page -->

		<!-- opinion page -->
		<activity android:name="com.withiter.quhao.activity.OpinionActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- opinion page -->

		<!-- about us page -->
		<activity android:name="com.withiter.quhao.activity.AboutUsActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- about us page -->

		<!-- help page -->
		<activity android:name="com.withiter.quhao.activity.HelpActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- help page -->

		<!-- share page -->
		<activity android:name="com.withiter.quhao.activity.ShareDialogActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@style/Theme.dialog" />
		<!-- share page -->

		<!-- share sina page -->
		<activity android:name="com.withiter.quhao.activity.SinaInfoActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- share sina page -->

		<!-- current/history paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- current/history paidui list page -->
		
		<!-- current paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoCurrentStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- current paidui list page -->
		
		<!-- history paidui list page -->
		<activity android:name="com.withiter.quhao.activity.QuhaoHistoryStatesActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- history paidui list page -->

		<!-- credit list page -->
		<activity android:name="com.withiter.quhao.activity.CreditCostListActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- credit list page -->

		<!-- around merchant list page -->
		<activity android:name="com.withiter.quhao.activity.ForgetPasswordActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- around merchant list page -->

		<!-- create comment page -->
		<activity android:name="com.withiter.quhao.activity.CreateCommentActivity" android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:launchMode="singleTop"
			android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar" />
		<!-- create comment page -->
	</application>

</manifest>