# Play generated #
##################
log/
tmp/
eclipse/
modules/**/modules/
test-result/

*/gen/

# Eclipse Files #
#################
.settings/
.project
.classpath
.DS_Store

/modules/android/Quhao/bin/classes/com/withiter/quhao/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/activity/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/adapter/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/domain/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/util/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/util/db/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/util/http/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/util/tool/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/view/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/vo/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/*/*.class
/modules/android/Quhao/bin/classes/com/withiter/quhao/*/*/*.class
