<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>0222</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>test</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>010</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>北京</string>
		</dict>
	</array>
	<key>c</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>028</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>成都</string>
		</dict>
	</array>
	<key>n</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>025</string>
			<key>isOpen</key>
			<string>YES</string>
			<key>name</key>
			<string>南京</string>
		</dict>
	</array>
	<key>g</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>020</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>广州</string>
		</dict>
	</array>
	<key>h</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>0571</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>杭州</string>
		</dict>
	</array>
	<key>q</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>0573</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>启东</string>
		</dict>
	</array>
	<key>s</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>021</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>上海</string>
		</dict>
		<dict>
			<key>cityCode</key>
			<string>0755</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>深圳</string>
		</dict>
	</array>
	<key>w</key>
	<array>
		<dict>
			<key>cityCode</key>
			<string>027</string>
			<key>isOpen</key>
			<true/>
			<key>name</key>
			<string>武汉</string>
		</dict>
	</array>
</dict>
</plist>
