#{extends 'main.html' /}
#{set title:'Sign in' /}

<div id="home">

    <h2>取号啦聊天室</h2>

    <div id="signin">
        #{form @enterDemo()}
            #{if flash.error}
                <p class="error">
                    ${flash.error}
                </p>
            #{/if}
            <p>
                <label for="nick">取个名字吧</label>
                <input type="text" name="user" id="user">
            </p>
            <p>
                <label for="nick">连接方式</label>
                <select name="demo">
                    <option></option>
                    <!-- 
                    <option value="refresh">Ajax, active refresh</option>
                    <option value="longpolling">Ajax, long polling</option> 
                    -->
                    <option value="websocket">WebSocket</option>
                </select>
            </p>
            <p>
                <label></label>
                <input type="submit" id="enter" value="Enter the chat room">
            </p>
        #{/form}
    </div>

</div>