`import static press.Plugin.*;
`extends base_layout
`def baseCss
$addCSS("bootstrap.min.css", true)
$addCSS("jquery-ui-1.10.3.custom.min.css", true)
$addCSS("base.css", true)
`
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/public/images/common/quhao_favicon.jpg" type="image/png" rel="shortcut icon" />

	<title>`get title`</title>

	$addCSS("admin.css", true)
	$addJS("libs/jquery-1.7.js", true)
	$addJS("libs/jquery-ui-1.10.3.custom.min.js", false)
	$addJS("libs/bootstrap.min.js", false)
	$baseCss()
	
	$compressedCSSTag()
	$compressedJSTag()

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>
`doLayout`
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: white; font-size: 20px;" href="#">取号啦后台管理</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="margin-right: 20px; font-size: 15px;">
            <li><a id="genaccount" href="/admin/home">生成账号</a></li>
            <li><a id="accounts" href="/admin/accounts?page=1">账号情况</a></li>
            <li><a id="topmerchant" href="/admin/topmerchant">商家置顶</a></li>
            <li><a id="feedback" href="/admin/feedback?page=1">用户反馈</a></li>
            <li><a id="cooperate" href="/admin/cooperate?page=1">合作申请</a></li>
            <li><a href="#">安全退出</a></li>
          </ul>
        </div>
      </div>
    </div>

	`get contents

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
