`import static press.Plugin.*;
`def baseCss
$addCSS("bootstrap.min.css", true)
$addCSS("jquery-ui-1.10.3.custom.min.css", true)
$addCSS("base.css", true)
$addCSS("landing.css", true)
`
<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="keywords" content="取号啦,排队,排队无忧,美食,聊天,美食交友,O2O,餐饮,优惠,打折,免排队,排队app,手机订餐,手机点餐,移动订餐,排队网,排队点餐,空中排队,美食排队">
  <meta name="Description" content="取号不用等，从取号啦开始。一个聪明的APP，帮你节省排队时间">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/home/webflow.css">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/home/quhaola.webflow.css">
  
  <script>
    if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
  </script>
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script><![endif]-->
  <link href="/public/images/common/quhao_favicon.png" type="image/png" rel="shortcut icon" />
	$addJS("libs/jquery-1.7.js", true)
	$addJS("libs/jquery-ui-1.10.3.custom.min.js", false)
	$addJS("libs/bootstrap.min.js", false)
	$addJS("common.js", true)
	$addJS("quhao.js", true)
	$baseCss()
	`get cssAndJs`
	$compressedCSSTag()
	$compressedJSTag()
<title>`get title`</title>
</head>
<body>

  `doLayout`

  <header class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 w-clearfix subfooter-left">
          <img class="logo-in-header" style="margin-top: -5px;" src="/public/images/common/quhao_favicon.png" width="25px">
          <div class="app-name" style="line-height: 10px; height: 10px;">取号啦</div>
        </div>
        <div class="w-col w-col-8 w-clearfix nav-column" style="font-size: 19px;">
        	<a class="nav-link app-name" style="letter-spacing: 2px;text-decoration: none;font-weight: bolder;" href="/home" target="_self">首页</a>
  <!--  
        	<a class="nav-link" style="text-decoration: none;font-weight: bolder;" href="/about" target="_self">关于取号啦</a>
        	<a class="nav-link" style="text-decoration: none;font-weight: bolder;" href="/business" target="_self">商家专区</a>
  -->
        </div>
      </div>
    </div>
  </header>
`get mainContent`
  <div class="section grey footertext" style="margin-top: 50px;">
    <div class="w-container">
      <p class="footer-text">Copyright ©2014 quhao.la, All Rights Reserved. 沪ICP备14012939号</p>
    </div>
  </div>
  </body>
</html>