<!DOCTYPE html>

<html>
    <head>
        <title>404 Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>    
    </head>
    <body>
        #{if play.mode.name() == 'DEV'}
            #{404 result /}
        #{/if}
        #{else}
        	<center>
	        	<h2 class="form-signin-heading" style="vertical-align: top;">
					<img style="margin-bottom: 10px;" alt="" width="200" height="200" src="/public/images/common/crying.png"><br/>
					<span class="glyphicon glyphicon-remove-circle" style="margin-right: 10px;"></span>404! 亲，不要瞎跑，找不到页面哦
				</h2>
        	</center>
        #{/else}
    </body>
</html>
