/**
* 1. sign up
* 2. log in
* 
* 
/* 1. sign up
===========================================================*/
.pop_signUp,.pop_logIn {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pop_signUp {
	color: #555;
	background: #fff;
	width: 861px;
}

.pop_signUp strong {
	display: block;
}

.pop_signUp .lSection,.pop_signUp .rSection {
	width: 430px;
	float: left;
	min-height: 470px;
}

/* left section*/
.pop_signUp .lSection {
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}

.pop_signUp .lSection li>.icon {
	margin-right: 10px;
}

.pop_signUp .lSection strong {
	font-size: 28px;
	margin: 30px 30px 25px 30px;
}

.pop_signUp .lSection p.text {
	font-size: 18px;
	color: #999;
	padding: 0 30px 30px;
}

.pop_signUp .lSection>ul {
	padding: 0 30px 0 30px;
	color: #999;
	font-size: 18px;
}

.pop_signUp .lSection>ul>li+li {
	margin-top: 35px;
}

.pop_signUp .lSection>ul>li.btnBox {
	margin-top: 45px;
}

.pop_signUp .btnfaceBook,.pop_logIn .btnfaceBook {
	border: 1px solid #506383;
	background: #6c83a9;
	background: linear-gradient(to bottom, #6c83a9 0%, #596c97 100%);
	background: -moz-linear-gradient(top, #6c83a9 0%, #596c97 100%);
	background: -webkit-linear-gradient(top, #6c83a9 0%, #596c97 100%);
	background: -ms-linear-gradient(top, #6c83a9 0%, #596c97 100%);
	box-shadow: 0 1px 1px #b3b3b3;
	-moz-box-shadow: 0 1px 1px #b3b3b3;
	-webkit-box-shadow: 0 1px 1px #b3b3b3;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 10px 0 8px;
	position: relative;
}

.pop_signUp .btnfaceBook .icon,.pop_logIn .btnfaceBook .icon {
	position: absolute;
	top: 0;
	left: 10px;
}

/* right section */
.pop_signUp .rSection {
	border-left: 1px solid #ced7ce;
	background: #eff6f0;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}

.pop_signUp .rSection .title {
	padding: 25px 30px 10px 30px;
}

.pop_signUp .rSection strong {
	font-size: 14px;
	display: inline-block;
}

.pop_signUp .rSection .fieldset {
	padding: 0 30px 30px;
}

.pop_signUp .rSection .errorText {
	float: right;
}

/* 2. log in
===========================================================*/
.pop_logIn {
	padding: 35px 25px;
	background: #eff6f0;
	width: 370px;
}

.pop_logIn strong {
	font-size: 18px;
}

.pop_logIn .btnfaceBook {
	margin-top: 18px;
}

.pop_logIn .or {
	margin: 30px 0 10px;
}

.pop_logIn .errorText {
	text-align: center;
	margin-bottom: 10px;
}

.pop_logIn .fieldset>ul>li {
	width: 100%;
}

/* 4. clear float
====================================================================*/
.pop_signUp:after {
	content: ".";
	display: block;
	font-size: 0;
	width: 0;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* override by cross */
.fieldset .textInput {
	width: 190px;
}

.pop_logIn {
	padding: 35px 25px;
	background: #eff6f0;
	width: 200px;
}

.pop_logIn .or {
	margin-top: 0px;
}

.pop_logIn {
	position: absolute;
	right: 7%;
	top: 10%;
}

/* override by cross */